.react-responsive-modal-modal {
  width: 80% !important;
  margin-top: 10% !important;

  .edit-task-form-container {
    margin-top: 25px;

    .edit-task-form-element {
      width: 100%;
      margin: 20px 0 10px;

      label {
        font-weight: bold;
      }

      select {
        border: none;
        border-bottom: 1px solid darkgray;
        outline: none;
        width: 99%;
      }

      button {
        width: 50%;
        margin-left: 22%;
        background-color: green;
        padding: 5px;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background-color: darkgreen;
        }
      }

      .edit-task-form-input {
        input {
          border: none;
          border-bottom: 1px solid darkgray;
          outline: none;
          width: 98%;
          margin-top: 5px;
        }
      }
    }
  }
}
