.home {
  .theme-btn-section {
    max-width: 1500px;
    padding: 15px;
    // background-color: gold;

    .theme-btn-container {
      max-width: 60px;
      margin-left: 90%;
      // background-color: green;
    }
  }

  .sections {
    padding: 60px 0;
    .sections-container {
      max-width: 1100px;
      padding: 0 15px;
      margin: 0 auto;

      .avatar {
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }

      .subject {
        p {
          line-height: 25px;
          font-size: 17px;

          a {
            text-decoration: none;
          }
        }
      }
    }

    &.dark {
      .sections-container {
        .subject {
          h2 {
            color: var(--dark-bg-text);
          }
          p {
            a {
              color: lightblue;
            }
          }
        }
      }
    }

    &.light {
      .sections-container {
        .subject {
          h2 {
            color: rgb(2, 117, 133);
          }
          p {
            a {
              color: blue;
            }
          }
        }
      }
    }
  }

  .section2 {
    padding: 60px 0;

    .section-container {
      display: flex;
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 15px;

      .subject {
        div {
          h2,
          p {
            margin-left: 20px;
          }

          p {
            line-height: 25px;
            font-size: 17px;
            a {
              text-decoration: none;
            }
          }
        }
      }

      .avatar {
        width: 250px;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
      }
    }

    &.dark {
      .section-container {
        .subject {
          h2 {
            color: var(--dark-bg-text);
          }
          p {
            a {
              color: lightblue;
            }
          }
        }
      }
    }

    &.light {
      .section-container {
        .subject {
          div {
            h2 {
              color: rgb(2, 117, 133) !important;
            }
            p {
              a {
                color: blue;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 837px) {
    .section2 {
      .section-container {
        justify-content: space-between;

        .subject {
          width: 600px;

          div {
            width: 500px;
          }
        }

        .avatar {
          width: 190px;
          margin-top: 90px;

          img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-left: 20px;
            margin-top: 20px;
          }
        }
      }
    }

    .sections-container {
      display: flex;
      justify-content: space-between;

      .avatar {
        width: 250px;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          margin-left: 45px;
          margin-top: 20px;
        }
      }

      .subject {
        width: 600px;
        padding-left: 10px;

        div {
          width: 500px;

          p {
            line-height: 25px;
            font-size: 17px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 836px) {
    .sections-container,
    .section-container {
      display: block !important;

      .avatar {
        max-width: 300px !important;
        margin: 0 auto;
        width: 200px;

        img {
          margin-left: 10%;
          margin-top: 7px;
        }
      }

      .subject {
        max-width: 700px !important;
        padding: 10px !important;
        margin-left: 0 auto !important;

        div {
          max-width: 600px !important;
          margin: 0 auto;

          h2,
          p {
            text-align: center;
          }
        }
      }
    }

    .section-container {
      display: flex !important;
      flex-direction: column-reverse;
    }
  }
}
