@media screen and (min-width: 837px) {
  .profile-edit-section {
    display: flex;

    .edit-section {
      width: 100vw;
    }
  }
}

@media screen and (max-width: 836px) {
  .profile-edit-section {
    padding-bottom: 10px;
  }
}
