.reviews {
  max-width: 1000px;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-family: cursive;
  }

  .reviews-list {
    .each-review {
      box-shadow: 0 0 3px 0.2px var(--dark-bg-text);
      border-radius: 5px;
      margin: 10px auto 30px;
      max-width: 600px;
      padding: 10px;

      .review-item {
        margin: 20px 0;

        .review-topic {
          margin-top: 5px;

          &.msg {
            line-height: 22px;
            font-family: Georgia, "Times New Roman", Times, serif;
          }
        }

        &.owner {
          margin: -10px 0 35px;
          .owner-info {
            display: flex;
            justify-content: space-between;

            .owner-email,
            .like-review {
              margin-top: 5px;
              // background-color: black !important;
            }

            .like-review {
              background-color: gray;
              border-radius: 50%;

              i {
                padding: 4px;
                font-size: 12px;
                color: #fff;
                margin-top: 0.5px;
                height: 8px;
                width: 11.8px;
                // border: 1px solid #000;
                cursor: pointer;

                &.red {
                  color: rgb(253, 30, 30);
                }
              }
            }
          }
        }
      }

      .review-delete-btn {
        button {
          width: 80px;
          padding: 4px;
          background-color: red;
          color: #fff;
          font-weight: bold;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.5px;

          &:hover {
            background-color: darkred;
          }
        }
      }
    }

    @media screen and (max-width: 643px) {
      .each-review {
        margin: 10px 10px 30px;
        padding: 6px;
      }
    }
  }

  &.dark {
    .reviews-list {
      .each-review {
        box-shadow: 0 0 3px 0.2px var(--dark-bg-text);
      }
    }
  }

  &.light {
    .reviews-list {
      .each-review {
        box-shadow: 0 0 3px 0.2px var(--light-bg-text);
      }
    }
  }
}
