.task-manager-section {
  //   padding-top: 5px;

  .task-section {
    width: 100vw;
    // background-color: green;

    h1 {
      // background-color: green;
      text-align: center;
      font-family: cursive;
      margin-top: 15px;
      font-size: 25px;
    }

    .task-actions-section {
      .add-task {
        input,
        select,
        button {
          margin: 0 10px;
          padding: 5px;
          border-radius: 3px;
          border: none;
          outline: none;
        }

        button {
          background-color: yellow;
          transition: 0.2s;
          font-size: 14px;
          font-weight: bold;
          border: none;
          cursor: pointer;
          // box-shadow: ;

          &:hover {
            background-color: orange;
            color: #ffe;
          }
        }
      }

      .show-tasks-section {
        table {
          padding: 0;
          background-color: transparent;
          border: none;
          border-radius: 4px;
          border-collapse: collapse;
          overflow: hidden;

          thead {
            tr {
              padding: 25px;
              // background-color: rgb(96, 11, 104);
              th {
                color: #ffe;
                padding: 5px 10px;
                border: 1px solid rgb(190, 164, 164);

                &.priority {
                  width: 180px;
                }

                &.btns {
                  width: 90px;
                }
                // text-align: left;
              }
            }
          }

          tbody {
            tr {
              cursor: pointer;
              // row-gap: -5px;

              &:hover {
                background-color: #eef;
              }

              td {
                padding: 5px 10px;
                background-color: #ffe;
                color: #000;
                border: 1px solid rgb(190, 164, 164);
                &.priority {
                  text-align: center;
                }

                button {
                  width: 30%;
                  margin: 0 5px;
                  color: #ffe;
                  border: none;
                  padding: 4px;
                  border-radius: 4px;
                  cursor: pointer;

                  &.btn-edit {
                    background-color: green;
                  }

                  &.btn-delete {
                    background-color: red;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.dark {
      .task-actions-section {
        .add-task {
          input,
          select,
          button {
            box-shadow: 0 0 3px 0.2px #ffe;
          }

          input {
            color: var(--light-bg-text);
          }
        }

        .show-tasks-section {
          table {
            thead {
              tr {
                background-color: rgb(116, 4, 116);
                th {
                  color: var(--dark-bg-text);
                }
              }
            }

            tbody {
              tr {
                td {
                  background-color: transparent;
                  color: var(--dark-bg-text);
                }
              }
            }
          }
        }
      }
    }

    &.light {
      .task-actions-section {
        .add-task {
          input,
          select,
          button {
            box-shadow: 0 0 3px 0.2px gray;
          }
        }

        .show-tasks-section {
          table {
            thead {
              tr {
                background-color: rgb(96, 11, 104);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 837px) {
  .task-manager-section {
    .task-section {
      h1 {
        // background-color: green;
        text-align: center;
        margin-top: 70px;
      }

      .task-actions-section {
        // background-color: green;
        max-width: 900px;
        margin: 0 auto;
        padding: 10px;

        .add-task {
          max-width: 1000px;
          padding: 15px 5px;
          margin-bottom: 10px;

          // input,
          // select,
          // button {
          //   margin: 0 10px;
          //   padding: 5px;
          //   border-radius: 3px;
          //   border: none;
          //   outline: none;
          // }

          input {
            width: 50%;
            margin-left: 20px;
          }

          select {
            width: 20%;
          }

          button {
            width: 80px;
          }
        }

        .show-tasks-section {
          max-width: 800px;
          table {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 836px) {
  .task-manager-section {
    .task-section {
      .task-actions-section {
        .add-task {
          max-width: 700px;
          margin: 0 auto;
          // background: green;

          input,
          select,
          button {
            margin: 15px;
          }

          input {
            width: 40%;
          }

          select {
            width: 30%;
          }

          button {
            width: 15%;
          }
        }

        .show-tasks-section {
          // background-color: green;
          padding: 3px;
          max-width: 650px;
          margin: 0 auto 10px;
          overflow: auto;

          table {
            width: 700px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 666px) {
  .task-manager-section {
    .task-section {
      .task-actions-section {
        .add-task {
          display: block !important;
          max-width: 400px;
          overflow: hidden;
          margin-bottom: 20px;
          // background: green;

          input,
          select,
          button {
            margin: 5px 5px;
            margin-right: 100px !important;
          }

          input {
            width: 93%;
          }

          select {
            width: 96%;
          }

          button {
            width: 50%;
            margin-left: 25%;
          }
        }
      }
    }
  }
}
