.btn-toggle {
  width: 30px;
  height: 15px;
  border-radius: 20px;

  .toggle {
    width: 15px;
    height: 100%;
    border-radius: 50%;
    transition: 0.3s;
  }

  &.dark {
    background-color: var(--dark-bg);
    box-shadow: 0 0 3px 0.1px #ffe;

    .toggle {
      margin-left: 15px;
      background-color: #ffe;
    }
  }

  &.light {
    background-color: #ffe;
    box-shadow: 0 0 3px 0.1px var(--dark-bg);

    .toggle {
      background-color: var(--dark-bg);
    }
  }
}
