.footer {
  //   background-color: lightgray;
  padding: 10px 0;

  p {
    text-align: center;
  }

  &.dark {
    p {
      color: var(--dark-bg-text);
    }
  }

  &.light {
    p {
      color: gray;
    }
  }
}
