@import "./toggle-button";
@import "./bg-image";
@import "./home";
@import "./footer";
@import "./task-manager";
@import "./aside-bar";
@import "./forms";
@import "./profile-view";
@import "./profile-edit";
@import "./general";
@import "./review";
@import "./reviews-list";
@import "./create-team";
@import "./edit-tasks-form";

html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #040436;
  min-height: 100%;

  ::-webkit-scrollbar {
    width: 7px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 25px rgb(233, 111, 111);
    -webkit-box-shadow: inset 0 0 25px rgb(233, 111, 111);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-padding: 2px 5px;
    padding: 2px 5px;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 30px rgb(190, 183, 183);
    -webkit-box-shadow: inset 0 0 30px rgb(190, 183, 183);
    border-radius: 15px;
    -webkit-border-radius: 15px;
  }
}

textarea {
  resize: none;
  outline: none;
}

:root {
  --dark-bg: rgb(68, 3, 68);
  --dark-bg-text: #ffe;
  --light-bg: #ffe;
  --light-bg-text: rgb(68, 3, 68);
  --shadow: gray;
}

.canvas {
  min-height: 100vh;
  max-width: 1500px;
  margin: 0 auto;

  input {
    border: none;
    outline: none;
  }

  button {
    border: none;
    outline: none;
  }

  &.canvas-light {
    background-color: var(--light-bg);
    color: var(--light-bg-text);

    input {
      color: var(--light-bg-text);
      background-color: var(--light-bg);

      &::placeholder,
      &:focus {
        color: var(--light-bg-text);
      }
    }

    a {
      color: var(--light-bg-text);
    }
  }

  &.canvas-dark {
    background-color: var(--dark-bg);
    color: var(--dark-bg-text);

    input {
      color: var(--dark-bg-text);
      background-color: var(--dark-bg);

      &::placeholder,
      &:focus {
        color: var(--dark-bg-text);
      }
    }

    select {
      color: var(--dark-bg-text);
      background-color: var(--dark-bg);
    }

    a {
      color: var(--dark-bg-text);
    }
  }
}

.display-none {
  display: none !important;
}
