.profile-edit-section {
  padding-bottom: 10px;

  .edit-section {
    .form-container {
      .avatar {
        // background-color: green;
        max-width: 200px;
        margin: 0 auto 10px;
        label {
          img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 836px) {
  .profile-edit-section {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 300px) {
  .profile-edit-section {
    padding-bottom: 10px;

    .edit-section {
      .form-container {
        .avatar {
          // background-color: green;
          label {
            img {
              width: 150px;
              height: 150px;
              border-radius: 50%;
              cursor: pointer;
              margin-left: 3%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 200px) {
  .profile-edit-section {
    padding-bottom: 10px;

    .edit-section {
      .form-container {
        .avatar {
          // background-color: green;
          label {
            img {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              cursor: pointer;
              margin-left: 12%;
            }
          }
        }
      }
    }
  }
}
