.profile-image-upload-section {
  .upload-image-section {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    // background-color: green;
    padding: 10px;

    .image {
      //   margin-left: 2%;
      // background-color: green;

      img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
      }

      @media screen and (max-width: 329px) {
        img {
          width: 250px;
          height: 250px;
          border-radius: 50%;
          margin-left: 6.5%;
        }
      }

      @media screen and (max-width: 299px) {
        img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-left: 11%;
        }
      }

      @media screen and (max-width: 269px) {
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          margin-left: 15%;
        }
      }

      @media screen and (max-width: 209px) {
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-left: 15%;
        }
      }
    }

    .upload-button {
      &.dark {
        .image-upload-btn {
          border: 1.2px solid #fff;
          background-color: transparent;
          color: #fff;

          &:hover {
            background-color: #fff1;
          }
        }

        .image-select-btn {
          div {
            border: 1.2px solid #fff;

            &:hover {
              background-color: #fff1;
            }
          }
        }
      }

      &.light {
        .image-upload-btn {
          border: 1.2px solid var(--dark-bg);

          &:hover {
            background-color: rgba(68, 3, 68, 0.3);
            //   color: #fff;
          }
        }

        .image-select-btn {
          div {
            border: 1.2px solid var(--dark-bg);

            &:hover {
              background-color: rgba(68, 3, 68, 0.3);
              //   color: #fff;
            }
          }
        }
      }

      .image-upload-btn {
        margin-left: 12%;
        margin-top: 20px;
        width: 70%;
        text-align: center;
        padding: 4px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.4s;
      }

      .image-select-btn {
        div {
          margin-left: 12%;
          margin-top: 20px;
          width: 70%;
          text-align: center;
          padding: 4px;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.4s;
        }

        input {
          display: none;
        }
      }
    }
  }
}
